* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button{
	/* 清除默认边框 */
	border:0;
	outline:none;
   /*清除默认背景 */
   background-color: transparent;
}
.top{
  height: 50px;
  border-bottom: 1px solid #ccc;
  .btnGroup {
    display: flex;
    width: 768px;
    height: 40px;
    margin: 10px 0 0 20px;
    border-radius: 5px;
    padding: 4px;
    background-color: #f5f5f5;
    justify-content: center;

    .actionBtn {
      border-radius: 2px;
      width: 254px;
      cursor: pointer;
      // background-color: #fff;
    }
    .active {
      background-color: #fff;
    }
  }
}

.main-content { 
  margin: 30px 20px;
  display: flex;
  .left-nav {
    display: inline-block;
    width: 160px;
    // margin: 30px 20px ;
    // background-color: aquamarine;
    .navBtn {
      // border: 1px solid #ccc;
      margin: 5px 0;
      padding: 10px 0;
      text-align: center;
      font-size: 14px;
      cursor: pointer;
    }
    .active {
      background-color: #f5f5f5;
      border-radius: 6px;
    }
  }

  .right-content {
    flex-grow: 1; // 使右侧内容区域自适应
    padding: 5px;
    h2{
      margin-left: 30px;
    }
    .fileList {
      margin: 30px 0 0 60px;
      
    }
  }
}

